@model WebAppBlog.UI.Models.Post

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create" asp-controller="Posts" enctype="multipart/form-data" method="post">
    <div class="form-horizontal">
        <h4>Post</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
            <label asp-for="ApplicationUserId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger" />
            </div>
        </div>*@

        <div class="form-group">
            <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*<input type="file" asp-for="ImageUrl" class="form-control"/>*@
                <input type="file" name="ImageFile" class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ShortContent" class="form-control" rows="5"></textarea>
                <span asp-validation-for="ShortContent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FullContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="FullContent" class="form-control" rows="10"></textarea>
                <span asp-validation-for="FullContent" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PublishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="date" asp-for="PublishDate" class="form-control" />
                <span asp-validation-for="PublishDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
